/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

body {
  background-image: image-url("hoge.jpg");}

header {
  width: 100%;
}

footer {
  width: 100%;
  height: 100px;
  padding: 40px 0 0;
}

sidebar {
  width: 170px;
  background-color: #bbbbff;
}

.sidebar-text {
  color: black;
  margin-top: 10px;
}

.footer-text {
  text-align: center;
}


.form-group {
  width: 100%;
}

.form-page {
  padding: 20px 20%;
}

.top-title {
  font-size: 32px;
}

.blog-index {
  border-top: 1px solid #aaaaaa;
  margin-top: 15px;
}

.more {
  font-size: 24px;
}

.user-image {
  height: 120px;
  width: 120px;
  vertical-align: top;
}

.table {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

.tag-lists-box {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

.tag-lists {
  padding: 0 50px;
}

.pagination{
  margin: 20px auto 0;
  width: 50%;
  display: flex;
  justify-content: center;
  span{
    text-align: center;
    width: 50px;
    :hover{
      background-color:#f3f3f3;
    }
    a{
      display: block;
      width: 100%;
      height: 100%;
      :hover{
        background-color:#f3f3f3;
      }
    }
  }
}
